.createNewPasswordForm {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 23px 24px 36px; ;
    width: 378px;
    border: 1px solid var(--color-dark-300);
    border-radius: 2px;
    background: var(--color-dark-500);
}

.createNewPasswordTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
}

.createNewPasswordHelper {
    margin: 7px 0 41px;
}
