.commentContainer {
    display: flex;
    justify-content: center;
}

.commentWithoutImg {
    width: 385px;
    margin-bottom: 15px;
    font-family: var(--font-family-primary);
    
}

.image {
    width: 54px;
    height: 36px;
    margin-right: 10px;
}

.comment {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    color: var(--color-light-100);
    text-align: left; 
}

.urlProfile {
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--color-light-100);
    text-align: left; 
    font-weight: var(--font-weight-semi-bold);
    margin-right: 3px;
}

.date {
    margin-top: 5px;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
    color: var(--color-light-900);
    text-align: left;
    letter-spacing: 0%;
}