.profileInformation {
  display: flex;
  justify-content: space-between;
}

.profileInformationAvatar {
  width: 100%;
  max-width: 11%;
}

.profileInformationForm {
  width: 100%;
  max-width: 85%;
}
