.button {
  display: flex;
  gap: 12px;
  align-items: center;

  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 64px;

  color: var(--color-light-100);
}

.textWrapper {
  width: 958px;
  margin: 0 auto;
  padding-bottom: 220px;

  text-align: center;
  white-space: pre-line;
}

.title {
  margin-bottom: 20px;
}
