    .postAddComment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 12px 0;
  }
  
  .postInput {
    background-color: var(--color-dark-900);
  }