.passwordFormItemContainer {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
      }
}

.inputError {
  border-top: 1px solid var(--color-danger-500);
  border-bottom: 1px solid var(--color-danger-500);
}