.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px;
    border-bottom: 1px solid var(--color-dark-100);
  }
  
  .head h2 {
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-light-100);
  }
  
  .head .close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
  }
  
  .body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    color: var(--color-light-100);
  }