.inputContainer {
  position: relative;
  height: 48px;
  margin-top: 83px;
}

.buttons {
  position: absolute;
  top: 7px;
  right: 12px;

  display: flex;
  gap: 12px;
}

.messageInput {
  align-items: flex-end;
  width: 100%;
}

.inputFile {
  display: none;
}

.inputContainer:focus-within {
  border-color: #007bff;
}
