.SelectWrapper {
    display: flex;
    flex-direction: column;
}

.SelectArrowIcon {
    display: flex;
    
} 

.SelectTrigger {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 210px;
        height: var(--line-height-l);
        padding: 6px 12px;
        background-color: var(--color-dark-900);
        border: 1px solid;
        border-color: var(--color-dark-100);
        border-radius: 2px;
        cursor: pointer;


        &[data-state='open'] {
            background-color: var(--color-dark-500); 
            border-color: var(--color-light-100);

            .SelectArrowIcon {
                transform: scale(1, -1)
            } 
        }

        &[data-placeholder] {
            font-size: var(--font-size-m);
            color: var(--color-light-100);
            cursor: pointer;
        
            &:hover {
                color: var(--color-light-900);
            }
        
            &:focus {
                border-color: var(--color-accent-500);
                color: var(--color-light-900);
            }

            &[data-disabled] {
                color: var(--color-dark-100);
                cursor: not-allowed;
                
            }
            
        }

        } 

.SelectViewport {
    border: 1px solid;
    border-color: var(--color-light-100);

}

.SelectVariantNarrow {
    width: 163px;
}


