.cardWrapper {
  justify-content: flex-start;
  width: 378px;
  height: 504px;
  padding: 24px;
}

.iconsWrapper {
  display: flex;
  gap: 60px;
}

.icon {
  width: 36px;
  height: 36px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.typography {
  margin-bottom: 13px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.link {
  align-self: flex-end;

  margin-top: 36px;
  margin-bottom: 24px;

  color: var(--color-light-900);
  text-decoration: none;
}

.text {
  align-self: center;
  margin-top: 18px;
  margin-bottom: 6px;
}
