.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #234e99;
}

.pageContainer {
  overflow: hidden;
  display: flex;
  flex-grow: 1;

  box-sizing: border-box;
  height: 100vh;
  padding: 35px 64px 24px;
}

.title {
  margin-bottom: 13px;
  font-weight: var(--font-weight-bold);
}

.table {
  display: grid;
  grid-template-columns: [first] 269px [line2] auto [end];
  grid-template-rows: [row1-start] 72px [row1-end] auto [end];

  height: 85vh;

  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
}

.contactsContainer {
}

.tableItem {
  scrollbar-color: var(--color-dark-300) var(--color-dark-500);
  scrollbar-width: thin;

  overflow-y: scroll;
  justify-self: stretch;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
}

/* Works on Chrome, Edge, and Safari */
.tableItem::-webkit-scrollbar {
  width: 14px;
}

.tableItem::-webkit-scrollbar-thumb {
  background: var(--color-dark-300);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 6px;
}

.tableItem::-webkit-scrollbar-track {
  background: var(--color-dark-500);
}

.contentWrapper {
  width: 100%;
}

.search {
  margin: 17px 12px;
  background-color: transparent;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedContact {
  background-color: var(--color-dark-100);
}
