.SelectItemText {
    font-family: var(--font-family-primary);
    font-size: 16px; // no work
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    color: var(--color-light-100); // no work
    text-align: left;
    letter-spacing: 0;

}

.SelectItem {
    padding: 7px 12px;
    width: 208px;
    background-color: var(--color-dark-500);
    

    &:hover {
        background-color: var(--color-dark-300);

        .SelectItemText {
            color: var(--color-accent-500);
            font-size: 6px;
        }
    }

}




