.selectItem {
  width: 208px;
  padding: 7px 12px;
  font-size: var(--font-size-m);
  background-color: var(--color-dark-500);

  &:hover {
    background-color: var(--color-dark-300);

    .selectItemText {
      color: var(--color-accent-500);
    }
  }
}

.selectItemText {
  display: flex;
  align-items: center;

  font-family: var(--font-family-primary);
  color: var(--color-light-100);
  text-align: left;
  letter-spacing: 0;
}

.selectItemVariantNarrow {
  width: 161px;
}

.selectItemIconLanguage {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
