.date {
    color: var(--color-light-900);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
    letter-spacing: 0%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
    }